<h1>Edit Student<h1>
<form action="/students/:id/edit" method = 'post'> 
<input type="text" name="name" placeholder="Name"  required>
<input type="range" name="mod" min = "1" max = "5" >
<input type="submit"> 

</form>